
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.input-container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background:gray;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  background-color: lightblue;
}

.display-text {
  margin-top: 15px;
  font-size: 18px;
  color: #333;
}
